*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-group {
    margin-top: 15px;
}

.btn {
    margin-top: 40px;
    margin-bottom: 15px;
}

#googlesign {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
    /* background-color: rgb(255, 148, 148); */
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(136, 135, 135);
}

input.ng-invalid {
    border-left: 2px solid red;
}

input.ng-valid {
    border-left: 2px solid green;
}

.error {
    color: red;
    font-size: 15px;
}