<div class="container">
    <div class="row">
        <div class="col-0 col-sm-8 col-md-8">
            
        </div>

        <div class="col-12 col-sm-4 col-md-4">

            <h1 class="text-center">Signup</h1>

            <form #userForm = "ngForm" (ngSubmit) = "getValues(userForm.value)">

                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Enter your name"  ngModel name = "fullname" #fullname = "ngModel" required>
                </div>
                <span *ngIf ="fullname.invalid && fullname.touched" class="error">*This field is required.</span>
    
                <div class="input-group flex-nowrap">
                    <input type="email" email class="form-control" placeholder="Enter your email id" ngModel name = "email" #email = "ngModel" required>
                </div>
                <span *ngIf ="email.invalid && email.touched" class="error">*Email is invalid.</span>
    
                <div class="input-group flex-nowrap">
                    <input type="text" minlength="4" class="form-control" placeholder="Set password" ngModel name = "password" #password = "ngModel" required>
                </div>
                <span *ngIf ="password.invalid && password.touched" class="error">*Password is invalid.</span>
    
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Confirm password" ngModel name = "confirmpassword" #confirmpassword = "ngModel" required>
                </div>
                <span *ngIf ="boo == 'false' && confirmpassword.touched" class="error">*Password mismatch.</span>
    
                <button class="btn btn-secondary btn-lg btn-block">Signup</button>
            </form>

            
            <div style="display: flex; justify-content: center; font-weight: bold; font-size: large;">OR</div>
    
            <button type="button" class="btn btn-secondary btn-lg btn-block" id="googlesign">Google Login</button>
        </div>
    </div>
</div>
